.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
content/Daily\ Notes/
.turbo/
*.pdf
*.jpg
*.png
*.mov
*.mp4
